<%# binding.pry %>
<%= form_for @celeb do |f| %>
  <% if @celeb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celeb.errors.count, "error") %> prohibited this celeb from being saved:</h2>
      <ul>
      <% @celeb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <br/>
    <%= f.fields_for :images do |ff| %>
      <%= ff.fields_for :image_type do |fff| %>
      <fieldset>
        <%= ff.label :name, "Image Name" %><br/>
        <%= ff.text_field :name %>
        <h5>Image Type: <%= @celeb.images.first.image_types.first.name %></h5>
        <div class="thumb_image_container">
          <% @celeb.images.each do |img| %>
            <%= fff.label :name %>
            <%= link_to image_tag(img.asset_image.url(:thumb)), edit_celeb_path(@celeb) %>
          <% end %>
        </div>
        <%= ff.label :asset_image, "Upload New Celeb Image" %><br/>
        <%= ff.file_field :asset_image %>
        <fieldset>
            <h4>Image Type</h4>
            <%#= fff.label :name, "Image Type" %>
            <%#= fff.text_field :name %>
            <%#= fff.label :crop_x %>
            <%#= fff.text_field :crop_x %>
            <%#= fff.label :crop_y %>
            <%#= fff.text_field :crop_y %>
          <% end %>
        </fieldset>
      </fieldset>

    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


