<%= form_for @celeb, :html => {:multipart => true} do |f| %>
  <% if @celeb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celeb.errors.count, "error") %> prohibited this celeb from being saved:</h2>
      <ul>
      <% @celeb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <br/>
    <%= f.fields_for :images do |ff| %>
      <%= ff.fields_for :image_type do |fff| %>
      <fieldset>
        <%= ff.label :name, "Image Name" %><br/>
        <%= ff.text_field :name %>
        <div class="thumb_image_container">
          <% @celeb.images.each do |img| %>
            <%= fff.label :name %>
            <%#= link_to image_tag(img.name.url(:thumb)), edit_celeb_path(@celeb) %>
            <%= link_to 'edit', edit_celeb_path(@celeb) %>

        </div>
        <div>
          <%= ff.label :name, "Upload New Celeb Image" %><br/>
          <%= ff.file_field :name %>
        </div>
        <fieldset>
            <!-- <h4>Image Type</h4> -->
            <h1>Crop & Set Image Type</h1>
            <%#= link_to image_tag(img.name), id: "cropbox" %>
            <%= image_tag(img.name) %>
            </div>

          <% end %>
        <% end %>
        </fieldset>
      </fieldset>

    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


