<p id="notice"><%= notice %></p>

<p>
  <h2>Name:<%= simple_format @celeb.name %></h2>
</p>
<%= link_to 'edit', edit_celeb_path(@celeb) %> |
<%= link_to "destroy", @celeb, method: :delete, confirm: "you sure?" %> |
<%= link_to 'all celebs', celebs_path %> |
<%= link_to 'home', root_path %>

<h2>Celeb Images</h2>

<%= render "images" %>