<%= form_for @title do |f| %>
  <% if @title.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>
      <ul>
      <% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :asset_image %><br />
    <%= f.file_field :asset_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>