<%= form_for @title do |f| %>
  <% if @title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>
      <ul>
      <% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <br/>
    <%#= f.fields_for :images, @title.images.build do |builder| %>
    <%= f.fields_for :images do |builder| %>
      <fieldset>
        <%= ff.label :name, "Image Name" %><br/>
        <%= ff.text_field :name %>
        <%= ff.label :asset_image, "Upload New Title Image" %><br/>
        <%= ff.file_field :asset_image %>
        <fieldset>
            <h4>Image Type</h4>
            <%= ff.fields_for :image_type do |fff| %>
            <%= fff.label :name %>
            <%= fff.text_field :name %>
            <%= fff.label :crop_x %>
            <%= fff.text_field :crop_x %>
            <%= fff.label :crop_y %>
            <%= fff.text_field :crop_y %>
          <% end %>
        </fieldset>
      </fieldset>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


