<% @title.images.each do |img| %>
	<ul class="image_list_item">
		<div id="image_list_container">
			<li>
				<h4><%= img.name %></h4>
					<ul>
						<li class="no-bullet">
							<div id="model_images">
							<div class="thumb">
								<h4>Thumbnail</h4>
								<%= link_to image_tag(img.name.url(:thumb)), title_path(@title) %><br/>
							</div>
							<div class="biopic">
								<h4>Biopic</h4>
								<%= link_to image_tag(img.name.url(:biopic)), title_path(@title) %><br/>
							</div>
							<div class="headshot">
								<h4>Headshot</h4>
								<%= link_to image_tag(img.name.url(:headshot)), title_path(@title) %><br/>
							</div>
							<div class="boxcover">
								<h4>Boxcover</h4>
								<%= link_to image_tag(img.name.url(:boxcover)), title_path(@title) %><br/>
							</div>
							<div class="promo">
								<h4>Promo</h4>
								<%= link_to image_tag(img.name.url(:promo)), title_path(@title) %><br/>
							</div>
							<%= link_to 'edit', edit_title_path(@title) %>
						</div>
					</li>
				</ul>
			</li>
		</div>
	</ul>
<% end %>