%h1 Crop Asset Image
= image_tag @title.asset_image_url(:large), id: "cropbox"
%h4 Preview
%div{:style => "width:100px; height:100px; overflow:hidden"}
  = image_tag @title.asset_image.url(:large), :id => "preview"
= form_for @title do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  .actions
    = f.submit "Crop"