%p
  %b Name:
  = @title.name
%p
  = image_tag @title.asset_image_url(:thumb) if @title.asset_image?
%p
  = link_to "Edit", edit_title_path(@title)
  |
  \#{link_to "Destroy", @title, method: :delete, confirm: "Are you sure?"} |
  \#{link_to "View All", titles_path}