<div id="titles">
	<h1>Titles</h1>
	<div><%= link_to "New Title", new_title_path, :class=> 'button radius' %></div>
	<%= render 'titles/images' %>
</div>

<div id="celebs">
	<h1>Celebs</h1>
	<div><%= link_to "New Celeb", new_celeb_path, :class=> 'button radius' %></div>
	<%= render 'celebs/images' %>
</div>
<%= link_to "all titles", titles_path %> |
<%= link_to "all celebs", celebs_path %>
<fieldset>
	<h3>Image Types</h3>
</fieldset>