<div id="titles">
	<h1>Titles</h1>
	<div><%= link_to "New Title", new_title_path, :class=> 'button radius' %></div>
	<%= render 'titles/images' %>
</div>

<div id="celebs">
	<h1>Celebs</h1>
	<div><%= link_to "New Celeb", new_celeb_path, :class=> 'button radius' %></div>
	<%= render 'celebs/images' %>
</div>
<fieldset>
	<h3>Image Types</h3>
</fieldset>

<div class="all-container">
	<div class="all-titles">
		<%= link_to "all titles", titles_path, :class=> 'button radius'  %>
	</div>
	<div class="all-celebs">
		<%= link_to "all celebs", celebs_path, :class=> 'button radius'  %>
	</div>
</div>